.form-container {
  width: 500px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  box-shadow: -15px 15px 0px #3782c9;
}
.form-title {
  font-size: 35px;
  color: #2a414f;
  font-weight: 400;
  font-family: "Lato";
  margin: 10px auto;
}
.inputGroup label {
  display: block;
  margin: 2px 5px;
  font-weight: 600;
  text-align: left;
}
.inputGroup input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.submit-btn {
  background: rgba(0, 140, 255, 0.3);
  width: 415px;
  height: 55px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  color: azure;
  background: rgba(0, 140, 255, 0.7);
}
.form-link {
  text-decoration: none;
  color: rgb(3, 98, 221);
  font-weight: 500;
}
.horizontal-divider {
  display: flex;
  align-items: center;
}
.horizontal-divider p {
  font-weight: 500;
  font-size: 17px;
  margin: 0px 20px 5px 20px;
}
.left-line,
.right-line {
  width: 50%;
  height: 1px;
  background-color: rgb(71, 122, 216);
}
.googleSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0;
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
